@charset "utf-8";

h3 {
    margin-bottom: 20px;
    font: 800 24px 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.display {
    font-size: 48px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

button {
    font-size: 24px;
    margin: 5px;
    padding: 10px 20px;
}

.is-disabled {
    opacity: .55;
    cursor: not-allowed;
    pointer-events: none;
}


